<div id="header">

	<!-- Logo -->
	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="#!/about">About</a></li>
				<li><a href="#!/gallery">Gallery</a></li>
			</ul>
		</nav>
		<a href="index.html" id="logo" class="logo"><p>Reykjavík</p></a>
		<section id="banner">
			<header >
				<h2>Reykjavík: <em> Wherever your travels take you - enjoy our favourite city and let yourself be inspired!</em></h2>
				<a href="#!/about" class="button">Learn More</a>
			</header>
		</section>

</div>

<!-- Highlights -->
<section class="wrapper style1" >
	<div class="container" id="iconContainer">
		<div class="row 200%" >
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<i class="icon major fa-bed"></i>
					<h3>Find Lodging</h3>
					<p>We offer hundreds of different lodging options for all price ranges</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<i class="icon major fa-car"></i>
					<h3>Rent Transportion</h3>
					<p>Rent a vehicle and travel without the restrictions of a tour group</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<i class="icon major fa-binoculars"></i>
					<h3>Book Tours</h3>
					<p>Don't know what to do? Book a tour and we will show you around.</p>
				</div>
			</section>
		</div>
	</div>
</section>

<!-- Gigantic Heading -->
<section class="wrapper style2">
	<div class="container">
		<header class="major">
			<h2>A true winter wonderland</h2>
			<p>There’s never a dull day in Reykjavik, even if the days are dark!</p>
		</header>
	</div>
</section>

<!-- Posts -->
<section class="wrapper style1" >
	<div class="container" id="iconContainer">
		<div class="row">
			<section class="6u 12u(narrower)">
				<div class="box post">
					<a href="#" class="image left"><img src="../images/reykjavik_4.jpg" alt="" /></a>
					<div class="inner">
						<h3>Explore Reykjavík</h3>
						<p>Despite our relatively short history, modern Reykjavík is home to an impressive collection of interesting attractions and places of historic significance.</p>
					</div>
				</div>
			</section>
			<section class="6u 12u(narrower)">
				<div class="box post">
					<a href="#" class="image left"><img src="../images/Reykjavik_5.jpg" alt="" /></a>
					<div class="inner">
						<h3>Otherworldly</h3>
						<p>Whilst the downtown area of Reykjavík has the highest concentration of cultural institutions, it also has an extraordinary number of tour operators offering everything from volcano tours to diving in the otherworldly waters of Silfra.</p>
					</div>
				</div>
			</section>
		</div>
		<div class="row">
			<section class="6u 12u(narrower)">
				<div class="box post">
					<a href="#" class="image left"><img src="../images/reykjavik_8.jpg" alt="" /></a>
					<div class="inner">
						<h3>Nature, Parks &amp; Gardens</h3>
						<p>Step off the pavements and explore paradise - all within Reykjavík city limits! Taking a break from culture and civilization is a must for residents of Reykjavík and with such a healthy number of beautiful parks and gardens, an area of green respite is never too far away.</p>
					</div>
				</div>
			</section>
			<section class="6u 12u(narrower)">
				<div class="box post">
					<a href="#" class="image left"><img src="../images/reykjavik_7.jpg" alt="" /></a>
					<div class="inner">
						<h3>Museums &amp; History</h3>
						<p>Enter our past with on of the dozens of historical museums and sites in and around the Reykjavík area showing the everyday life of people from years passed. Learn about the everyday person and the Vikings that settled this land long ago.</p>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style3" >
	<div class="container">
		<header>
			<h2>Are you ready to continue your quest?</h2>
			<a href="#" class="button">See Events</a>
		</header>
	</div>
</section>
